* {
    box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

html {
  overflow-y: scroll;
}

img{
    height: auto;
}

.flex{
    display: flex;
    background-color: white;
}

.footer{
    margin-top: auto; 
    color: lightgray;
    font-size: 16px;
    text-align: center;
}

.header {
    background: rgb(180, 0, 0);
    padding: 40px 20px;
    margin: 0 20%;
    text-align: center;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
    margin-bottom: 20px;
}

.header h1 {
    font-size: 3em;          
    font-weight: 700;        
    letter-spacing: 2px;     
    margin: 0;
}

.h2{
    color: rgb(180, 0, 0);;
    padding: 40px 20px;
    margin: 0 20%;
    text-align: center;
    font-size: 3em;          
    font-weight: 700;        
    letter-spacing: 2px;  
}

.image{
    margin: 0 10%;
}

.imageSharavari{
    margin: 0 10%;
    border: 3px solid black;
    border-radius: 15px;
}

.imageSharavariOnPage{
    display: block;
    margin: 0 auto; 
}

.main{
    padding: 0 5vh;
    margin-left: 17%; 
    background-color: white;
}

.main a{
    color: black;
    font-size: 16px;
    margin: 16px;
}

.main p {
    font-family: 'Arial', sans-serif; 
    font-size: 18px;                 
    line-height: 1.6;              
    color: black;                  
    margin: 16px 0;                   
    font-weight: 600
}

.nav{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.nav a{
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    margin: 14px;
    font-size: 28px;
    border: 3px solid transparent;
    padding: 5px;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
}

.nav a:hover {
    border-color: black;
    color: black;
    background-color: white;
}

.sharavari{
    display: block;           
    text-decoration: none;  
    color: inherit;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
    width: 31%;
    margin: 10px 0;
    padding: 1%;
    text-align: center;
    border: 3px solid transparent;
    background-color: rgb(180, 0, 0);;
    border-radius: 15px;
}


.sharavari p{
    color: white;
}

.sharavari:hover{

    border-color: black;
    background-color: white;
}

.sharavari:hover p {
    color: black;
}

.sharavari-container {
  display: flex;
  flex-wrap: wrap;          
  justify-content: center;  
  gap: 10%;                
}

.sidebar{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    position: fixed;
    left: 0;
    top: 0;
    width: 17%;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    background: rgb(180, 0, 0);;
    padding: 10px;
}
